{% extends 'base.html' %}

{% block content %}
    {% if messages %}   
    {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert" style="text-align: center;" >
            <strong>{{message}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {% endfor %}
{% endif %}


{% if all_items %} 
    <table class='table table-bordered'>
    {% for things in all_items %}
        
        {% if things.completed  %}            
            <tr class="table-secondary">
                <td> <center>   {{things.item }}</center></td>
                <td> <center> <a class="btn btn-primary" href="unselect/{{things.id}}" role="button" >Unselect</a></center></td>
                <td> <center> <a href="edit/{{things.id}}">Edit</a></center></td>
                <td> <center> <a href="delete/{{things.id}}">Delete</a></center> </td>
            </tr>
        {% else %}
            <tr>
                <td> <center>{{ things.item }}</center></a></td>
                <td> <center> <a class="btn btn-primary" href="select/{{things.id}}" role="button" >Select</a></center></td>
                <td> <center> <a href="edit/{{things.id}}">Edit</a></center></td>
                <td> <center><a href="delete/{{things.id}}">Delete</a></center> </td>
            </tr>
        {% endif %}

    {% endfor %}
    </table>
{% endif %}
{% endblock  %}
